.hero {
  height: 950px;
  width: 100%;
  background: linear-gradient(to right, #1488CC , #1E429D);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navibar {
  position: absolute;
  top: 0;
  margin: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
}
.smallbtn {
  font-size: 20px !important;
  border-radius: 3px;
  padding: 10px;
  margin-top: -2em;
  margin-bottom: 10px;
}

.projcard {
  background-color: #F9FBFD;
  box-shadow: 0px 1px 5px 2px rgba(0,0,0,.1);
  padding: 20px;
  border-radius: 0px 0px 3px 3px;
}

.card {
  max-width: 30%;
}
.team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects {
  background: linear-gradient(#394160, #282e47);
  padding: 40px;
  z-index: 1;
  padding-bottom: 100px;
}

html {
  background-color: #F9FBFD;
}
body {
  background-color: #F9FBFD;
}
a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  margin: 5px;
}
a:hover {
  color: #e22b4c;
  transition: ease-in 0.2s;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #4A4A4A;
  margin-bottom: 20px;
}

i {
  color: #1488CC;
  font-size: 20px;
}

i:hover {
  color: #F3277F;
  transition: ease-in 0.2s;
}

.text {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  padding: 20px;
}

.card {
  margin: 20px;
}

.round {
  width: 300px;
  height: 50px;
  border-radius: 100px;
}

button {
  background-color: #e22b4c;
  border: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 25px;
}

button:hover {
  background-color: #F3277F;
  box-shadow: 0px 1px 5px 3px rgba(163, 27, 75, .47);
  transition: ease-in 0.2s;
  color: white;
}

a.button {
  background-color: #e22b4c;
  border: none;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 25px;
}


a.button:hover {
  background-color: #F3277F;
  box-shadow: 0px 1px 5px 3px rgba(163, 27, 75, .47);
  transition: ease-in 0.2s;
  color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
}
