/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  margin:0;
  padding:0;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/BebasNeue.ttf');
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#banner {
  background-color: #2d3038;
  margin: 0;
  padding-bottom: 60px;
  overflow-y: hidden;
}

#banner img {
  height: auto;
}

#title-before {
  height: 100%;
  display: table;
  width: 100%;
}

#title {
  color: white;
  text-align: center;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
  word-wrap: break-all;
  height: 500px;
}

#title h1 {
  text-align: center;
  font-family: "Bebas Neue",sans-serif;
  font-weight: 300;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 8em;
  /* display: inline;*/
}

p a {
  text-decoration: underline;
}

h2 {
  text-align: center;
  font-family: "Bebas Neue",sans-serif;
  font-weight: 300;
  font-size: 5em;
  color: #2d3038;
}

#title img {
  width: 200px;
  /* display: inline;*/
  /* vertical-align: bottom;*/
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.underline_divider {
  text-align: center;
  border-bottom: 10px solid #2d3038;
  width: 90px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  color: #2d3038;
}
p, label, input, button, textarea{
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1.1em;
}

.item {
  display: inline-block;
  box-sizing: border-box;
  width: 320px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 50px;
  text-align: left;
  vertical-align: top;
  height: 380px;
}

.item .image {
  display: inline;
}

.image img{
  height: 200px;
  border: 1px solid #EDEDED;
}


.container {
  padding:0;
  margin:0;
  display: table;
  width: 100%;
}

#projects{
  text-align: center;
  margin-top:120px;
  margin-bottom:100px;
}
#team{
  text-align: center;
  margin-top:120px;
  margin-bottom:70px;
}

.collection .underline_divider {
  margin-bottom: 120px;
}

#about {
  background-image:url('../img/alex.png');
}

#schedule {
  background-image:url('../img/vivderek.png');
}

.info_block {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
  height: 500px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  display: table-cell;
  vertical-align: middle;
}

.info_block h2, .info_block .underline_divider {
  color: white;
  border-color: white;
  margin-top:20px;
  margin-bottom: 20px;
}

.info_block p {
  font-size: 35px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#map-canvas {
  height: 500px;
  width: 100%;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  margin-bottom: 100px;
}

#contact {
  margin-bottom: 100px;
  margin-top: 100px;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.nav {
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

#more{
  background-image:url('../img/vivderek.png');
}

a.text_link {
  color: white;
  text-decoration:underline;
  font-weight: 200;
  font-family: 'Lato', sans-serif;
}

.icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  opacity: 0.5;
}

#social {
  height: 60px;
  line-height: 60px;
  width: 100%;
}

#social a:first-child {
  margin-left: 15px;
}

#social a {
  position: relative;
  top: -2px;
}

#social span {
  margin-left: 10px;
  opacity: 0.4;
  line-height:60px;
}
