---
title: Penn Labs
layout: default
---
<!-- Begin page content -->
<div class="collection" id="projects">
  <div>
    <h2>Projects</h2>
  </div>
  <div class="underline_divider"></div>

  {% for project in site.data.projects %}
    {% capture link %}<a href='{{ project.website }}' target='_blank'>{{ project.linknickname }}</a>{% endcapture %}

    <div class="item">
      <div class="image">
        <img class="img-responsive" src="{{ project.image }}">
      </div>
      <h3><a href="{{ project.link }}">{{ project.projectname }}</a></h3>
      <p>
          {{ project.description | replace_first: project.linknickname, link | remove: '<p>' | remove: '</p>' }}
      </p>
    </div>
  {% endfor %}
</div>

<div class="info_block" id="about">
  <h2>About Labs</h2>
  <div class="underline_divider"></div>
  <p>We're a non-profit, student-run organization at the University of Pennsylvania dedicated to building technology for student use and supporting an open-source development environment on-campus. We're sponsored by the UA, the Provost's Office and VPUL. </p>
</div>

<div class="collection" id="team">
  <div>
    <h2>Team</h2>
  </div>
  <div class="underline_divider"></div>

  {% for member in site.data.bios %}
    {% capture linkedName %}<a href='{{ member.website }}' target='_blank'>{{ member.firstname }}</a>{% endcapture %}
    <div class="item">
      <div class="image img-responsive">
        <img src="{{ member.image }}">
      </div>
      <h3>{{ member.firstname }} {{ member.lastname }}</h3>
      <p>
        {% unless member.website == nil %}
          {{ member.bio | replace_first: member.firstname, linkedName | remove: '<p>' | remove: '</p>' }}
        {% else %}
          {{ member.bio | remove: '<p>' | remove: '</p>' }}
        {% endunless %}
      </p>
    </div>
  {% endfor %}
</div>

<div class="info_block" id="schedule">
  <h2>Made@Penn</h2>
  <div class="underline_divider"></div>
  <p>Made@Penn is a Labs project to showcase the work of student developers. Our goal is to strengthen the community of builders at Penn. If you'd like to demo your work, submit <a class="text_link" href="http://madeatpenn.pennlabs.org">here</a>.</p>       </div>

  <div class="" id="contact">
    <h2>Contact</h2>
    <div class="underline_divider"></div>
    <div class="row">
      <div class="contact-form col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-2">
        <h3 id="touch">Get in touch</h3>
        <form role="form" method="POST" action="//formspree.io/contact@pennlabs.org">
          <div class="form-group">
            <input type="text" name="name" class="form-control" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" name="subject" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea name="message" class="form-control" rows="3" placeholder="Message"></textarea>
          </div>
          <input type="text" name="_gotcha" style="display:none" />
          <input type="submit" class="btn btn-default" value="Submit">
        </form>
      </div>

      <div class="help-form col-md-4 col-sm-4">
        <h3 id="help">Need help?</h3>
        <ul id="help_list">
          <li><span class="glyphicon glyphicon-comment"></span> <a target="_blank" href="https://goo.gl/forms/6gdCr3NIaH6o1dSL2">Drop us a bug report.</a></li>
          <li><span class="glyphicon glyphicon-bullhorn"></span> <a target="_blank" href="https://goo.gl/forms/6gdCr3NIaH6o1dSL2">Give us some ideas.</a></li>
          <li><span class="glyphicon glyphicon-list-alt"></span> <a href="/docs/index.html" target="_blank">Read the docs.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
